<div class="container">
  <div class="row no-gutters word-row">
    <div class="col-1">
      <div class="text-center"><word-img [name]="currentChild"></word-img></div>
    </div>
    <div class="col-4"></div>
    <div class="col-2">
      <div class="text-center">
        <word-img
          *ngIf="currentWord" [name]="currentWord.fileName" [word]="currentWord">
        </word-img>
      </div>
    </div>
    <div class="col-1"></div>
    <div class="col-1">
      <icon-button name="grid-two-up"></icon-button>
    </div>
    <div class="col-1">
      <icon-button name="random" (click)="setRandomCurrentWord()"></icon-button>
    </div>
    <div class="col-2">
      <reveal-button></reveal-button>
    </div>
  </div>
  <word *ngIf="currentWord" [word]="currentWord" (founded)="onWordFound($event)"></word>
  <div
    *ngFor="let row of [0, 1, 2]"
    class="row no-gutters grapheme-row justify-content-center">
    <div
      *ngFor="let grapheme of graphemeRow(row)"
      class="col-1 box">
      <board-grapheme class="in-box" [grapheme]="grapheme"></board-grapheme>
    </div>
  </div>
  <div class="text-center word-row">
    <icon-button name="arrow-thick-{{boardArrowOrientation}}" text=" {{boardButtonText}}" (click)="toggleBoardGraphemes()"></icon-button>
  </div>
</div>
