<div class="container">
  <icon-button name="arrow-thick-left" (click)="goBack()"></icon-button>
  <div>
    <label>name:
      <input [(ngModel)]="child.name" placeholder="name">
    </label>
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" class="btn btn-secondary">Petit</button>
      <button type="button" class="btn btn-secondary">Moyen</button>
      <button type="button" class="btn btn-secondary">Grand</button>
    </div>
  </div>
  <button *ngIf="child.id === -1" (click)="onCreate()">Créer</button>
  <button *ngIf="child.id !== -1" (click)="onSave()">Enrigistrer</button>
</div>
